@import "../../variables.scss";

.container {
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
}

.greeting {
    font-size: 21px;
    margin-bottom: 10px;
}

.create-form {
    margin-top: 15px;
}

.header {
    margin-top: 25px;
    display: flex;
    align-items: center;
}

.org-name {
    font-size: 28px;
    font-weight: 700;
}

.rate {
    font-size: 14px;
    font-weight: 400;
    margin-top: 2px;
}

@mixin active {
    background-color: $main-color;
    color: #fff;
}

.controls {
    margin-left: 25px;
    font-size: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 2px;

    &:hover {
        background-color: $main-color-lighter;
    }

    &:active {
        @include active;
    }

    &.active {
        @include active;
    }
}
