@import "../../variables.scss";

.container {
    margin: 20px 10px 30px 10px;
}

.filters {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.select {
    width: 300px;
    z-index: 2;
}

.date {
    @include date(true);
}

.label {
    @include label("small");
}

.big-label {
    @include label("big");
}

.date-range {
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
    width: 330px;
    align-items: center;
}
