@import "../../variables.scss";

.container {
    margin-top: 30px;
    width: 400px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    height: 32px;
}

.list {
    @include table-shadow;
    max-height: calc(100vh - 250px);
    border: {
        top: 1px solid $grey;
        bottom: 1px solid $grey;
    }
}

.list:before,
.list:after {
    @include table-shadow-before-after;
}

.list:after {
    @include table-shadow-after;
}

.item {
    margin: 5px 0 5px 0;
    padding: 5px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
        background-color: $main-color-lighter;
    }

    &:hover > .controls {
        visibility: visible;
    }

    &.editing {
        display: block;
        &:hover {
            background-color: #fcfcfc;
        }
    }
}

.name {
    white-space: nowrap;
    &.center-name {
        width: 200px;
        margin: 0 auto;
        text-align: center;
    }
}

.no-results {
    margin: 10px auto;
    width: 100px;
}

.controls {
    display: flex;
    justify-content: space-around;
    visibility: hidden;
    width: 100px;
    cursor: pointer;
}

.control-item {
    padding: 5px;
    border-radius: 2px;
    color: $main-color-darker;

    &:hover {
        background-color: $main-color-lightest;
    }
}
