@import "../../variables.scss";

.container {
    font-weight: 400;
}
.table-container {
    width: 100%;
}

thead,
tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.shifts {
    border-collapse: collapse;
    margin-bottom: 35px;
}

.shifts-body {
    @include table-shadow;
    max-height: calc(100vh - 450px);
    border: {
        top: 1px solid grey;
        bottom: 1px solid grey;
    }
}

.shifts-body:before,
.shifts-body:after {
    @include table-shadow-before-after;
}

.shifts-body:after {
    @include table-shadow-after;
}

.column-header {
    cursor: pointer;
    padding-bottom: 2px;
}

tr:first-child {
    margin-top: 5px;
}

tr:last-child {
    margin-bottom: 5px;
}
