.container {
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
}

.header {
    font-size: 20px;
}

.details {
    margin-top: 40px;
    margin-bottom: 70px;
}

.name {
    font-size: 24px;
    margin-bottom: 10px;
}

.email {
    margin-bottom: 20px;
}

.link {
    margin-top: 100px;
}
