@import "../../variables.scss";

.container {
    position: relative;
    display: block;

    &:focus-within {
        color: $main-color;
    }
}

.input {
    @include input;
}

.tick {
    position: absolute;
    top: 7px;
    right: -30px;
    animation: slideIn 0.15s ease-in;
}

@keyframes slideIn {
    from {
        transform: translateX(-7px);
    }

    to {
        transform: translateY(0);
    }
}

.label {
    @include label("big");
}

.small-label {
    @include label("small");
}

@keyframes slide-up-big {
    from {
        transform: translateY(-55px);
    }

    to {
        transform: translateY(-58px);
    }
}

@keyframes slide-up-small {
    from {
        transform: translateY(-45px);
    }
    to {
        transform: translateY(-48px);
    }
}

.hint {
    position: absolute;
    font-size: 13.5px;
    color: #b1b1b1;
    margin-top: 3px;
    white-space: nowrap;

    &.error {
        color: red;
    }
}

.cross {
    position: absolute;
    opacity: 0.65;
    right: 0.625rem;
    cursor: pointer;
    top: 7px;
}
