@import "../../variables.scss";
$border-grey: #c3c3c3;

.container {
    position: relative;
    display: block;
    margin-top: 10px;

    &:focus-within {
        color: $main-color;
    }
}

.input {
    outline: none;
    padding: 10px;
    color: #333;
    border: 1px solid $border-grey;
    border-radius: 3px;
    font-size: 16px;
    width: 100%;
    transition: ease-in 0.15s;

    &:focus {
        border: 1px solid $main-color;
        transition: ease-out 0.2s;
    }

    &:focus ~ .label {
        color: $main-color;
    }

    &:focus ~ .hint {
        color: grey;
    }

    &[value=""] ~ .label {
        display: none;
    }

    &.with-icon {
        padding-left: 36px;
    }
}

.tick {
    position: absolute;
    top: 7px;
    right: -30px;
    animation: slideIn 0.15s ease-in;
}

@keyframes slideIn {
    from {
        transform: translateX(-7px);
    }

    to {
        transform: translateY(0);
    }
}

.label {
    position: absolute;
    animation-duration: 0.15s;
    animation-name: slideIn;
    transform: translateY(-58px);
    font-size: 13px;
}

.hint {
    position: absolute;
    font-size: 13.5px;
    color: #b1b1b1;
    margin-top: 3px;

    &.error {
        color: red;
    }
}
