@import "../../variables.scss";

.container {
    position: relative;
    display: block;

    &:focus-within {
        color: $main-color;
    }
}

.input {
    outline: none;
    padding: 10px;
    color: #333;
    border: 1px solid $border-grey;
    border-radius: 3px;
    font-size: 16px;
    width: 100%;
    transition: ease-in 0.15s;

    &:focus {
        border: 1px solid $main-color;
        transition: ease-out 0.2s;
    }

    &:focus ~ .label {
        color: $main-color;
    }

    &:focus ~ .hint {
        color: grey;
    }

    &[value=""] ~ .label {
        display: none;
    }

    &[value=""] ~ .small-label {
        display: none;
    }

    &.with-icon {
        padding-left: 36px;
    }

    &.with-symbol {
        padding-left: 16px;
    }

    &.small {
        height: 30px;
    }
}

.tick {
    position: absolute;
    top: 7px;
    right: -30px;
    animation: slideIn 0.15s ease-in;
}

@keyframes slideIn {
    from {
        transform: translateX(-7px);
    }

    to {
        transform: translateY(0);
    }
}

@mixin label($length: "small") {
    fill: currentColor;
    transition: 0.1s ease-in;
    pointer-events: none;
    position: absolute;
    font-size: 13px;
    animation: slide-up-#{$length} 0.15s ease-in;

    @if $length == "small" {
        transform: translateY(-48px);
    } @else {
        transform: translateY(-58px);
    }
}

.label {
    @include label("big");
}

.small-label {
    @include label("small");
}

@keyframes slide-up-big {
    from {
        transform: translateY(-55px);
    }

    to {
        transform: translateY(-58px);
    }
}

@keyframes slide-up-small {
    from {
        transform: translateY(-45px);
    }
    to {
        transform: translateY(-48px);
    }
}

.hint {
    position: absolute;
    font-size: 13.5px;
    color: #b1b1b1;
    margin-top: 3px;
    white-space: nowrap;

    &.error {
        color: red;
    }
}
