@import "../variables.scss";

.home {
    position: relative;
    width: 100%;
    border-bottom: 2px solid $main-color;
    padding-bottom: 15px;
}

.top {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
    margin-top: 20px;
}
