@import "../variables.scss";

.button {
    cursor: pointer;
    position: relative;
    height: 100%;
    border-radius: 2px;
    background-color: $main-color;
    padding: 3px;
    display: flex;
    align-items: center;
    padding: 0 7.5px 0 7.5px;

    &.open,
    &:hover {
        background-color: $main-color-light;
    }
}

.menu {
    position: absolute;
    overflow: hidden;
    right: 0;
    top: 55px;
    width: 12.5rem;
    color: #676767;
    z-index: 99;

    @include hidden-form(3px, 0.15s);

    &.open {
        @include show-hidden-form(5px, 0.2s);
    }
}

.menu-item {
    cursor: pointer;
    padding: 0.7rem 1rem;
    font-size: 0.85rem;

    &.top {
        border-bottom: 1px solid #dfdfdf;
    }

    &:hover {
        background-color: $main-color-lightest;
    }
}
