@import "../variables.scss";

.bar {
    background-color: $main-color;
    height: 50px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 80%;
    margin: 0 auto;
}
