@mixin icon {
    position: absolute;
    top: 9px;
    opacity: 0.65;
}

.icon {
    @include icon;
    fill: currentColor;
    transition: 0.1s ease-in;
    pointer-events: none;
    left: 0.5rem;
}

.icon-right {
    @include icon;
    right: 0.625rem;
    cursor: pointer;
}
