html {
    font-family: Roboto;
    color: #333;
}

body {
    margin: 0;
    background-color: #fcfcfc;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

div[role="group"] {
    height: 100%;
}

a {
    text-decoration: none;
    color: #0366d6;
}
