$main-color-lightest: #eff8fe;
$main-color-lighter: #c4e6fa;
$main-color-light: #75c5f4;
$main-color: #4eb5f1;
$main-color-dark: #47a5dc;
$main-color-darker: #4095c6;
$border-grey: #c3c3c3;
$grey: #676767;
$error-red: #f44336;
$shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
$form-border: 1px solid #dfdfdf;

@mixin input {
    outline: none;
    padding: 10px;
    color: #333;
    border: 1px solid $border-grey;
    border-radius: 3px;
    font-size: 16px;
    width: 100%;
    transition: ease-in 0.15s;

    &:focus {
        border: 1px solid $main-color;
        transition: ease-out 0.2s;
    }
    &:focus ~ .label {
        color: $main-color;
    }

    &:focus ~ .hint {
        color: grey;
    }

    &[value=""] ~ .label {
        display: none;
    }

    &[value=""] ~ .small-label {
        display: none;
    }

    &[value=""] ~ .cross {
        display: none;
    }

    &.with-icon {
        padding-left: 36px;
    }

    &.with-symbol {
        padding-left: 16px;
    }

    &.small {
        height: 30px;
    }
}

@mixin date($clearable) {
    @include input;
    height: 30px;
    width: 150px;
    text-align: center;

    @if $clearable {
        width: 160px;
        padding-right: 12px;
        text-align: initial;
    }
}

@mixin hidden-form($radius: 3px, $time: 0.2s) {
    visibility: hidden;
    opacity: 0;
    box-shadow: $shadow;
    border: $form-border;
    border-radius: $radius;
    background-color: #fff;
    transition: $time ease-in;
}

@mixin show-hidden-form($move: 5px, $time: 0.15s, $X: false) {
    visibility: visible;
    opacity: 1;
    z-index: 3;

    @if $X == true {
        transform: translateX($move);
    } @else {
        transform: translateY($move);
    }

    transition: $time ease-out;
}

@mixin label($length: "small") {
    fill: currentColor;
    transition: 0.1s ease-in;
    pointer-events: none;
    position: absolute;
    font-size: 13px;
    animation: slide-up-#{$length} 0.15s ease-in;

    @if $length == "small" {
        transform: translateY(-48px);
    } @else {
        transform: translateY(-58px);
    }
}

@mixin table-shadow {
    font-weight: 400;
    font-size: 15px;
    display: block;
    width: 100%;
    overflow: scroll;
    position: relative;
    z-index: 1;

    background: #fcfcfc no-repeat;
    background-image: radial-gradient(
            farthest-side at 50% 0,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0)
        ),
        radial-gradient(
            farthest-side at 50% 100%,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0)
        );
    background-position: 0 0, 0 100%;
    background-size: 100% 14px;
}

@mixin table-shadow-before-after {
    content: "";
    position: relative;
    z-index: -1;
    display: block;
    height: 30px;
    margin: 0 0 -30px;
    background: linear-gradient(
        to bottom,
        #fff,
        #fff 30%,
        rgba(255, 255, 255, 0)
    );
}

@mixin table-shadow-after {
    margin: -30px 0 0;
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0),
        #fff 70%,
        #fff
    );
}
