@import "../../variables.scss";

.container {
    @include form;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 0.2fr 0.7fr;
    height: 390px;
    padding: 40px 50px 15px 50px;
    width: 400px;
    margin: 10px 0 10px 0;
    border-radius: 5px;
}
