.container {
    display: flex;
    justify-content: space-around;
    width: 610px;
}

.second-container {
    display: flex;
    font-size: 14px;
    margin-top: 3px;
    margin-left: 402px;
}

.remember {
    margin-left: 8px;
}
