@import "../../variables.scss";

.container {
    @include form;
    margin: 0 auto;
    width: 570px;
    padding: 35px 30px 20px 30px;
    border-radius: 5px;
}

.inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.date {
    @include date(false);

    &:focus {
        border: 1px solid $main-color;
        transition: ease-out 0.2s;
    }

    &:focus ~ .label {
        color: $main-color;
    }
}

.label {
    @include label("small");
}

.times {
    display: flex;
}

.wrapper {
    width: 68px;
    margin-left: 10px;
}

.errors {
    margin-top: 25px;
    color: $error-red;
    font-size: 15px;
}
