@import "../../variables.scss";

.container {
    width: 600px;
    padding: 35px 30px 20px 30px;
    border-radius: 5px;
    background: #fff;
    box-shadow: $shadow;
    border: $form-border;
}

.inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.date {
    outline: none;
    padding: 10px;
    color: #333;
    border: 1px solid $border-grey;
    border-radius: 3px;
    font-size: 16px;
    width: 150px;
    height: 30px;
    text-align: center;
    transition: ease-in 0.15s;

    &:focus {
        border: 1px solid $main-color;
        transition: ease-out 0.2s;
    }

    &:focus ~ .label {
        color: $main-color;
    }
}

.label {
    @include label("small");
}

.times {
    display: flex;
}

.wrapper {
    width: 68px;
    margin-left: 10px;
}

.errors {
    margin-top: 25px;
    color: $error-red;
    font-size: 15px;
}
