@import "../../variables.scss";

.container {
    @include form;
    display: grid;
    grid-template-rows: 1fr 1fr 0.8fr 0.8fr;
    height: 350px;
    padding: 40px 30px 15px 30px;
    width: 400px;
    margin: 10px 0 10px 0;
    border-radius: 5px;
}
